.intro {
  position: relative;
}

.intro__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 63.3%;
  width: 100%;

  background: url("../../img/main-page/intro/background/1x/background-mobile.jpg")
    center no-repeat;
  background-size: cover;
}

.intro__text {
  text-align: center;
}

.intro__title,
.intro__subtitle {
  color: @white;
}

.intro__title {
  padding-top: 27px;
}

.intro__subtitle {
  margin-top: 25px;

  text-transform: uppercase;

  .oswald-family();
}

.intro__image img {
  margin: 30px auto 0;

  display: block;
}

//Media
@media (min-resolution: 2dppx) {
  .intro__background {
    background: url("../../img/main-page/intro/background/2x/background-mobile@2x.jpg")
      center no-repeat;
    background-size: cover;
  }
}

@media (min-width: @tablet) {
  .intro__background {
    background: none;
  }

  .intro__text {
    text-align: left;

    padding-left: 90px;

    max-width: 504px;
  }

  .intro__title,
  .intro__subtitle {
    color: @black;
  }

  .intro__title {
    padding-top: 0;
  }

  .intro__subtitle {
    margin-top: 40px;

    font-size: 20px;
  }

  .intro__image img {
    margin-top: 20px;
  }

  .intro__button {
    font-size: 20px;
  }

  //Media
  @media (min-resolution: 2dppx) {
    .intro__background {
      background: none;
    }
  }
}

@media (min-width: @tablet) and (max-width: @tablet-max-width) {
  .intro__button {
    position: absolute;
    top: 230px;
    left: 120px;
  }
}

@media (min-width: @desktop) {
  .intro__background {
    left: auto;
    right: 0;
    width: 50%;
    height: 100%;
    background: url("../../img/main-page/intro/background/1x/background-desktop.jpg")
      center no-repeat;
    background-size: cover;
  }

  .intro__container {
    position: static;

    padding: 140px 110px 185px;
  }

  .intro__text {
    padding-left: 0;
  }

  .intro__title {
    padding-top: 80px;
  }

  .intro__subtitle {
    margin-bottom: 52px;
  }

  .intro__image img {
    position: absolute;

    top: 140px;
    right: 23vw;
    margin: 0;

    pointer-events: none;
  }

  //Media
  @media (min-resolution: 2dppx) {
    background: url("../../img/main-page/intro/background/2x/background-desktop@2x.jpg")
      center no-repeat;
    background-size: cover;
  }
}
