.footer {
  background-color: #f2f2f2;
}

.footer__wrapper {
  padding-top: 39px;
  padding-bottom: 22px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  padding-bottom: 32px;
}

.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: 24px 0;

  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;

  & a {
    margin-right: 36px;
  }

  & a:last-child {
    margin-right: 0;
  }
}

.footer__academy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding-top: 22px;
}

@media (min-width: @tablet) {
  .footer__wrapper {
    padding-top: 56px;
    padding-bottom: 56px;

    flex-direction: row;

    justify-content: space-between;
  }

  .footer__logo {
    padding-bottom: 0;
  }

  .footer__contacts {
    padding: 0;

    border-bottom: 0;
    border-top: 0;

    width: auto;

    & a {
      margin-right: 28px;
    }
  }

  .footer__academy {
    padding-top: 0;

    width: 164px;
  }
}

@media (min-width: @desktop) {
  .footer__wrapper {
    padding-top: 60px;
  }
}
