.input__checkbox-checkmark {
  &::after {
    content: "";
    position: absolute;
    display: none;

    left: 10px;
    top: 5px;

    width: 6px;
    height: 12px;
    border: solid @green;
    border-width: 0 2px 2px 0;

    transform: rotate(45deg);
  }
}

@media (min-width: @tablet) {
  .input__checkbox-checkmark {
    &::after {
      content: "";
      position: absolute;
      display: none;

      left: 13px;
      top: 5px;

      width: 9px;
      height: 18px;
      border: solid @green;
      border-width: 0 2px 2px 0;

      transform: rotate(45deg);
    }
  }
}
