.program {
  padding-top: 93px;
}

.program__title {
  margin-bottom: 37px;
}

.program__description {
  margin-bottom: 39px;

  color: @black;
  .oswald-family();
}

@media (min-width: @tablet) {
  .program {
    padding-top: 141px;
  }

  .program__title {
    margin-bottom: 54px;
  }

  .program__description {
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop) {
  .program {
    padding-top: 187px;
  }
}
